pkgbase = luxmc
	pkgdesc = Linux-first Minecraft launcher
	pkgver = 1.2.0.alpha
	pkgrel = 1
	url = https://github.com/predabr/luxmc
	arch = x86_64
	license = Proprietary
	makedepends = cargo
	makedepends = nodejs
	makedepends = pnpm
	depends = gtk3
	depends = webkit2gtk-4.1
	depends = libsoup3
	depends = openssl
	depends = librsvg
	depends = libayatana-appindicator
	depends = alsa-lib
	depends = libxkbcommon
	depends = hicolor-icon-theme
	depends = jre-openjdk
	depends = unzip
	depends = xdg-utils
	provides = luxmc
	conflicts = luxmc
	options = !strip
	source = luxmc-1.2.0.alpha.tar.gz::https://github.com/predabr/luxmc/archive/refs/tags/v1.2.0-alpha.tar.gz
	sha256sums = SKIP

pkgname = luxmc
